

.number-text {
  position: absolute;
  bottom: 12%;
  left: 46.7%;
  z-index: 3;
  font-size: 2.5vw;
  color: white;
  font-family: "Roboto", sans-serif;
  opacity: 1;
}

.photo-style {
  max-height: 605px;
  width: 100%;
  filter: brightness(90%);  
}

.image{
  max-height: 605px;
  width: 100%;
  filter: brightness(65%);  
}

.button-play {
  top: 36%;
  right: 44%;
  position: absolute;
  width: 14%;
  z-index: 3;
  transition: opacity 0.5s;
  opacity: 1;
}

.pause-button {
  top: 36%;
  right: 44%;
  position: absolute;
  width: 14%;
  z-index: 2;
  transition: opacity 0.5s;
  display: none;
}

@media (orientation:landscape) {
  .card {
    max-width: 1000px;
    padding: 0px 15px;
    position: relative;
    margin: 0px auto;
    background-color: rgb(31, 31, 31);
    box-shadow: 0px 10px 15px rgb(59, 59, 59);
    border-radius: 10px;
    padding: 15px;
  }
}

@media (orientation:portrait) {
.card {
  max-width: 1000px;
  padding: 0px 15px;
  position: relative;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 15px rgb(59, 59, 59);
  border-radius: 10px;
  padding: 15px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%
}
}

.button-next1 {
  left: 6%;
  bottom: 11%;
  position: absolute;
  width: 9%;
  z-index: 2;
  transition: opacity 0.5s;
  opacity: 1;
}

.button-next2 {
  right: 6%;
  bottom: 11%;
  position: absolute;
  width: 9%;
  z-index: 2;
  transition: opacity 0.5s;
  opacity: 1;
}

.button-musical {
  height: 10%;
  width: 5%;
  position: absolute;
  right: 4%;
  top: 5%;
  opacity: 1;
}

.button-arrow {
  width: 3%;
  position: absolute;
  top: 5%;
  left: 3%;
  opacity: 1;
}

.k-spisky {
  width: 12%;
  top: 5.6%;
  left: 8%;
  position: absolute;
  opacity: 1;
}
