.number-text {
  position: absolute;
  bottom: 12%;
  left: 46%;
  z-index: 3;
  font-size: 2vw;
  color: white;
  font-family: "Roboto", sans-serif;
  opacity: 1;
  
}

.photo-style {
  border-radius: 10px;
  max-height: 605px;
  width: 100%;
  filter: brightness(90%);  
}


.image{
  border-radius: 10px;
  max-height: 605px;
  width: 100%;
  filter: brightness(65%);  
}


.button-play {
  top: 36%;
  right: 43%;
  position: absolute;
  width: 14%;
  z-index: 3;
  transition: opacity 0.5s;
  opacity: 1;
}

.pause-button {
  top: 36%;
  right: 44%;
  position: absolute;
  width: 14%;
  z-index: 2;
  transition: opacity 0.5s;
  display: none;
}

@media (orientation:landscape) {
  .card {
    max-width: 1000px;
    position: relative;
    margin: 0px auto;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0px 10px 15px rgb(59, 59, 59);
    border-radius: 10px;
    display: none;
  }
}

@media (orientation:portrait) {
.card {
  height: 100%;
  width: 100%;
  margin-top: 50%;
  position: relative;
  /* background-color: #ffffff; */
  box-shadow: 0px 10px 15px rgb(59, 59, 59);
  border-radius: 1px;
}
}

.button-next1 {
  left: 6%;
  bottom: 11%;
  position: absolute;
  width: 9%;
  z-index: 2;
  transition: opacity 0.5s;
  opacity: 1;
}

.button-next2 {
  right: 6%;
  bottom: 11%;
  position: absolute;
  width: 9%;
  z-index: 2;
  transition: opacity 0.5s;
  opacity: 1;
}

.button-musical {
  height: 10%;
  width: 5%;
  position: absolute;
  right: 4%;
  top: 5%;
  opacity: 1;
}

.button-arrow {
  width: 3%;
  position: absolute;
  top: 5%;
  left: 3%;
  opacity: 1;
}

.k-spisky {
  width: 17%;
  top: 5.6%;
  left: 8%;
  position: absolute;
  opacity: 1;
}
.iksweb{display: inline-block;cursor: pointer; font-size:36px;text-decoration:none;padding: 3% 27.5%; color:#f5f5f5;background:#3293d9;border-radius:7px;border:2px solid #3293d9; margin-left: 13%; margin-bottom: 5%; text-align: center; margin-right: auto}
.iksweb:hover{background:#354251;color:#ffffff;border:2px solid #354251;transition: all 0.2s ease;}

.iksweb2{display: inline-block;cursor: pointer; font-size:36px;text-decoration:none;padding:1% 20%; color:#f5f5f5;background:#3293d9;border-radius:7px;border:2px solid #3293d9; margin-left: 13%; margin-bottom: 5%; margin-right: 10%; text-align: center;}
.iksweb2:hover{background:#354251;color:#ffffff;border:2px solid #354251;transition: all 0.2s ease;}

